body {
  background-color: #333;
  color: #555;
  font-family: 'Oxygen Mono';
  margin: 0
}

#command {
  height: 30px;
  width: 100%;
  background-color: #191919;
  color: #ddd;
  border: 1px solid #555;
  padding: 0px 0px 0px 10px;
  font-family: 'Oxygen Mono';
  font-size: 21px;
  text-transform: uppercase;
}

#command::-webkit-input-placeholder {
    color: #555;
    font-size: 17px;
}

#content {
  float: left;
  height: 100%;
  width: calc(100% - 567px);
}

#strip-bay {
  float:left;
  height: 100%;
  width: 300px;
  border-right: 1px solid black;
}

#map {
  float: left;
  height: calc(100% - 55px);
  width: 100%;
}

#lounge-bay {
  float: right;
  height: 100%;
  width: 255px;
  border-left: 1px solid black;
}
